html, body{
    height:100%;
    background: #fdfff5;
    background: -moz-linear-gradient(top, #fdfff5 0%, #fffbe9 100%);
    background: -webkit-linear-gradient(top, #fdfff5 0%,#fffbe9 100%);
    background: linear-gradient(to bottom, #fdfff5 0%,#fffbe9 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body{
    color: black;
    padding: 0;
    margin:0;
    text-rendering: geometricPrecision;
}

#content {
    position: relative;
    padding: 10px 100px;
}

.section-header:first-child{
    margin-top: 15px;
}

.section-header{
    color: #3d3d3d;
    padding-top: 0;
    margin-top: 55px;
    margin-left: 70px;
    font-size: 21px;
    font-family: sans-serif;
    text-shadow: #949494 2px 2px 3px;
    text-transform: uppercase;
    font-style: italic;
}

.section-content{
    padding: 0 100px;
    font-size: 19px;
}

.page-header{
    color: #3d3d3d;
    padding-top: 0;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 37px;
    font-family: sans-serif;
    text-shadow: #949494 2px 2px 3px;
    text-transform: uppercase;
    font-style: italic;
}

.page{
    width: 80%;
    margin: 0 auto;
}

.switch-toggle {
    height: 28px;
    font-family: sans-serif;
}

#page-not-found-img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    margin: 0 auto;
}
