.ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.stub-item {
    border-radius: 7px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.18) 5px 5px 5px;
    margin: 10px 0;
}

.stub-item #header{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 3px 10px;
    background: #ff966b;
    background: -moz-linear-gradient(top, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
    background: -webkit-linear-gradient(top, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
    background: linear-gradient(to bottom, #ff966b 0%, #ffe8b4 5%, #ff966b 11%, #d0584b 100%);
}

.stub-item #header.new-stub{
    background: #73e556;
    background: -moz-linear-gradient(top, #73e556 0%, #deffc8 5%, #95d845 11%, #2db42d 100%);
    background: -webkit-linear-gradient(top, #73e556 0%, #deffc8 5%, #95d845 11%, #2db42d 100%);
    background: linear-gradient(to bottom, #73e556 0%, #deffc8 5%, #95d845 11%, #2db42d 100%);
}

.stub-item #header #title{
    flex: 1;
    height:29px;
    padding-left: 15px;
    cursor: pointer;
    font-size: 15pt;
    font-family: 'Biryani', sans-serif;
    color: white;
    margin-right: 30px;
}

.stub-item #header.new-stub #title{
    font-family: 'Biryani', sans-serif;
    color: #456424;
    text-align: center;
    margin-right: 0;
}

.stub-item #header #title:hover{
    text-shadow: rgba(255, 242, 171, 0.54) 1px 2px 4px;
}

.stub-item #header #title-path{
    position: absolute;
    top: 33px;
    left: 47px;
    font-size: 12pt;
    font-weight: 200;
    font-family: 'sans-serif', sans-serif;
    color: #dfd1c6;
    width: calc(100% - 165px);
}

.stub-item #header #state-toggle{
    margin-top: 16px;
}

.stub-item #form{
    border: 2px solid #ab7a69;
    border-top: hidden;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    padding: 16px;
}

.stub-item #form.new-stub{
    border: 2px solid #77ab6b;
}

.stub-item #form #buttons{
    text-align: center;
    margin-top:15px;
}

.form-button{
    display: inline-block;
    text-decoration: none;
    font-size: 11pt;
    font-family: sans-serif;
    text-transform: uppercase;
    min-width: 100px;
    margin: 0 5px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
    color:white;
    box-shadow: rgba(80, 82, 41, 0.42) 2px 2px 5px;
}

#delete-button.form-button{
    background: #ff323a;
    background: -moz-linear-gradient(top, #ff323a 0%, #cc4456 100%);
    background: -webkit-linear-gradient(top, #ff323a 0%, #cc4456 100%);
    background: linear-gradient(to bottom, #ff323a 0%, #cc4456 100%);
}

#delete-button.form-button:hover{
    background: #ff815e;
    background: -moz-linear-gradient(top, #ff815e 0%, #cc4456 100%);
    background: -webkit-linear-gradient(top, #ff815e 0%, #cc4456 100%);
    background: linear-gradient(to bottom, #ff815e 0%, #cc4456 100%);
}

#save-button.form-button{
    background: #56c62f;
    background: -moz-linear-gradient(top, #56c62f 0%, #648f2e 100%);
    background: -webkit-linear-gradient(top, #56c62f 0%, #648f2e 100%);
    background: linear-gradient(to bottom, #56c62f 0%, #648f2e 100%);
}

#save-button.form-button:hover{
    background: #3edd69;
    background: -moz-linear-gradient(top, #3edd69 0%, #648f2e 100%);
    background: -webkit-linear-gradient(top, #3edd69 0%, #648f2e 100%);
    background: linear-gradient(to bottom, #3edd69 0%, #648f2e 100%);
}

#form {
    position: relative;
    background: #f5f2c9;
}

#form label:first-of-type{
    margin-top: -5px !important;
}

#form label {
    margin-top: 15px;
    display: block;
    font-family: 'Biryani', sans-serif;
    font-size: 12pt;
    color: #D0584B;
}

#form label.inlineLabel{
    display:inline-block !important;
    margin-top: 21px !important;
}

#base-url{
    font-family: sans-serif;
    font-size: 12pt;
    color: #818181;
    display: inline-block;
    margin-top: 4px !important;
    margin-bottom: 0 !important;
}

#form .smallField{
    max-width: 30px !important;
    min-width: 30px !important;
    height: 13px;
    padding: 6px !important;
    text-align: center;
    margin-top: 20px;
    float: right;
}

#form select.smallField{
    max-width: 100px !important;
    min-width: 100px !important;
    height: 28px !important;
    padding: 0 !important;
    text-align: center;
    margin-top: 5px;
    float: right;
}

#form label.overheadLabel{
    font-size: 7pt;
}

#form .smallFieldWithOverheadLabel{
    float:right;
    margin-left: 9px;
    margin-top: 3px;
}

#form .smallFieldWithOverheadLabel label{
    margin-top: 0 !important;
}

#form .smallFieldWithOverheadLabel input{
    margin-top: 0 !important;;
    margin-left: 0;
}

#form #delay {
    max-width: 50px !important;
    min-width: 50px !important;
}

#form .editText {
    max-width: calc(100% - 30px);
    min-width: calc(100% - 30px);
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 12pt;
    padding: 10px;
    margin-left: 10px;
    background: #fefdea;
}

#form .editField{
    position: relative;
    border-radius: 3px;
    margin-left: 10px;
    background: #fefdea;
    overflow: hidden;
}

#form .editTextMultiline{
    z-index: 1;
    position: relative;
    max-width: calc(100% - 23px);
    min-width: calc(100% - 23px);
    font-family: sans-serif;
    border-radius: 3px;
    font-size: 12pt;
    padding: 10px;
    background: rgba(255, 254, 234, 0);
    overflow-y: auto;
    overflow-x: hidden;
}

.wild-card-mark{
    color: #edf006;
}

#meh{
    width: 200px;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#form .editTextMultilineDecor{
    z-index: 0;
    position: absolute;
    margin: 2px;
    top: 0;
    left:0;
    width: calc(100% - 23px);
    height: calc(100% - 47px);
    border-radius: 3px;
    padding: 11px 11px 13px 11px;
    font-family: sans-serif;
    font-size: 12pt;
    overflow-x: auto;
    overflow-y: auto;
    color: rgba(254, 253, 234, 0);
    white-space: pre-wrap;
}

.syntax-error{
    background: #ffcab2;
    display: inline-block;
    width: 100%;
    border-radius: 2px;
}

#stub-message {
    height: 20px;
    padding: 4px 10px;
    margin: 0 0 13px;
    color: white;
    font-family: sans-serif;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: inset black 3px 2px 2px;
}

#stub-message.lint-warn {
    background: #c88808;
}

#stub-message.error {
    background: #ae1932;
}

#stub-message.success {
    background: #2dae36;
}

#stub-message.ng-enter,
#stub-message.ng-leave {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;
}

#stub-message.ng-leave.ng-leave-active,
#stub-message.ng-enter {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;

    height: 0;
    margin-bottom: 0;
    padding: 0;
    opacity: 0;
    background: white;
}

#stub-message.ng-enter.ng-enter-active.lint-warn,
#stub-message.ng-leave.lint-warn{
    background: #c88808;
}

#stub-message.ng-enter.ng-enter-active.error,
#stub-message.ng-leave.error{
    background: #ae1932;
}

#stub-message.ng-enter.ng-enter-active.success,
#stub-message.ng-leave.success{
    background: #2dae36;
}

#stub-message.ng-enter.ng-enter-active,
#stub-message.ng-leave {
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -ms-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;

    height: 20px;
    margin-bottom: 13px;
    padding: 4px 10px;
    opacity: 1;
}

#channel-header{
    font-family: 'Biryani', sans-serif;
    font-size: 9pt;
    color: #989898;
    margin-bottom: 0;
}

#channels {
    padding-left: 15px;
}

.channel-button{
    margin: 0 10px;
    font-family: 'Biryani', sans-serif;
    font-size: 12pt;
    color: #989898;
    text-decoration: none;
    display: inline-block;
}

.channel-button:hover{
    color: #af2d2c;
}

.channel-button.selected{
    color: #af2d2c;
    cursor: default;
    font-weight: bolder;
}

#new-stub-features{
    display: grid;
    grid-template-columns: auto min-content;
}

.live-indexing{
    background: #e3b456 !important;
    background: -moz-linear-gradient(top, #e3b456 0%, #ffedc9 5%, #d6a645 11%, #b3862d 100%)!important;
    background: -webkit-linear-gradient(top, #e3b456 0%, #ffedc9 5%, #d6a645 11%, #b3862d 100%)!important;
    background: linear-gradient(to bottom, #e3b456 0%, #ffedc9 5%, #d6a645 11%, #b3862d 100%)!important;
}

.stop-indexing{
    background: #e37556 !important;
    background: -moz-linear-gradient(top, #e37556 0%, #ffd5c9 5%, #d46546 11%, #b34b2e 100%)!important;
    background: -webkit-linear-gradient(top, #e37556 0%, #ffd5c9 5%, #d46546 11%, #b34b2e 100%)!important;
    background: linear-gradient(to bottom, #e37556 0%, #ffd5c9 5%, #d46546 11%, #b34b2e 100%)!important;
}

.live-indexing h2{
    color: #604622 !important;
    text-align: center!important;
}

.stop-indexing h2{
    color: #ffe0c0 !important;
    text-align: center!important;
}

.live-indexing img {
    height: 32px;
    position: relative;
    top: 15px;
    left: 5px;
}

.stop-indexing img {
    height: 32px;
    position: relative;
    top: 15px;
    left: 5px;
}

.indexing:after {
    content: '*';
}
