<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppController as app">
<head>
    <meta charset="UTF-8">
    <title>Babooshka</title>

    <link rel="shortcut icon" type="image/ico" href="../babooshka/images/favicon.ico"/>

    <script src="libs/jquery-3.1.1.min.js"></script>
    <script src="libs/angular.min.js"></script>
    <script src="libs/angular-route.min.js"></script>
    <script src="libs/angular-animate.min.js"></script>
    <script src="libs/angular-sanitize.min.js"></script>

    <script src="bower_components/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js"></script>

    <script src="javascripts/utils.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/config.js"></script>
    <script src="javascripts/stubs.js"></script>
    <script src="javascripts/channels.js"></script>
    <script src="javascripts/settings.js"></script>
    <script src="javascripts/help.js"></script>
    <script src="javascripts/about.js"></script>

    <link rel="stylesheet" type="text/css" href="css/animations.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <link rel="stylesheet" href="bower_components/angular-bootstrap-toggle-switch/style/bootstrap2/angular-toggle-switch-bootstrap-2.css">

    <base href="/">
</head>
<body>
<nav-bar></nav-bar>
<div id="content" class="{{ pageClass }}" ng-view></div>
</body>
</html>