<h1 class="page-header">Channels</h1>
<div class="page" ng-controller="ChannelsController as page">
    <link rel="stylesheet" type="text/css" ng-href="{{page.getUrl('css/channels.css')}}"/>
    <p id="channel-message" ng-repeat="message in messages" ng-class="message.type">{{message.message}}</p>

    <div class="channel-item new-channel">

        <div id="header" class="new-channel">
            <h2 id="title" class="ellipsis" href="#" ng-click="page.toggleShow(newChannel)">Add Channel</h2>
        </div>
        <div id="form" class="new-channel" ng-show="newChannel.opened">

            <p id="channel-message" ng-repeat="message in newChannel.messages" ng-class="message.type">{{message.message}}</p>

            <label for="channel">Alias</label>
            <input id="channel" class="editText" type="text" ng-model="newChannel.temp.channel" ng-value="{{ stringify(newChannel.channel) }}">

            <div id="buttons">
                <a id="delete-button" class="form-button" href="#" ng-click="clearNewChannel()">clear</a>
                <a id="save-button" class="form-button" href="#" ng-click="page.addChannel($event)">save</a>
            </div>
        </div>
    </div>

    <div class="channel-item" ng-repeat="channel in channels">

        <div id="header">
            <h2 id="title" class="ellipsis" href="#" ng-click="page.toggleShow(channel)"
                ng-bind-html="channel.channel"></h2>
        </div>
        <div id="form" ng-show="channel.opened">

            <p id="channel-message" ng-repeat="message in channel.messages" ng-class="message.type">{{message.message}}</p>

            <label for="channel">Alias</label>
            <input id="channel" class="editText" type="text" ng-model="channel.temp.channel" ng-value="{{ stringify(newChannel.channel) }}">

            <div id="buttons">
                <a id="delete-button" class="form-button" href="#" ng-click="page.deleteChannel(channel)">delete</a>
                <a id="save-button" class="form-button" href="#" ng-click="page.updateChannel(channel,$event)">save</a>
            </div>
        </div>
    </div>
</div>