<h1 class="page-header">Help</h1>
<div id="help-main" ng-controller="HelpController as page">
    <link rel="stylesheet" type="text/css" ng-href="{{page.getUrl('css/help.css')}}">
    <div id="index">
        <div id="index-header">Index</div>
        <div class="index-block">Introduction</div>
        <ol>
            <li><a href="#what-is-babooshka">What is Babooshka</a></li>
            <li><a href="#who-use">Who should use Babooshka</a></li>
            <li><a href="#getting-started">Getting started</a></li>
        </ol>

        <div class="index-block">Basic usage</div>
        <ol start="4">
            <li><a href="#add-mapping">Add mapping</a></li>
            <li><a href="#activation">Mapping de/activation</a></li>
            <li><a href="#wild-cards">Wild card mapping</a></li>
            <li><a href="#no-json">Using Babooshka with non-json content types</a></li>
            <li><a href="#channels">Using Babooshka channels</a></li>
        </ol>

        <div class="index-block">Advanced</div>
        <ol start="9">
            <li><a href="#multiple-protocols">Using multiple protocols and hosts</a></li>
            <li><a href="#self-signed-cert">Using a self signed certificate</a></li>
            <li><a href="#live-indexing">Live indexing</a></li>
            <li><a href="#cant-do">What Babooshka doesn't do</a></li>
        </ol>
    </div>
    <div id="help-disp">
        <h2 class="section-header" id="what-is-babooshka">What is Babooshka</h2>
        <p class="section-content">
            Babooshka is a stub serving forward proxy server aimed to speed up development process by letting both
            server and client developers work simultaneously without obstructing each other.
            <br/>
            Babooshka sits between your development server and your client and either forward the requests made to the
            server, or return a predefined stub response.<br/>This prevent an unfinished server side to hinder client
            development and remove pressure from server developers. Babooshka is easily configurable and is targeted
            towards client developers, avoiding complex configurations and messy controls. Your client guys could literally
            control it on their own and disconnect their stubs when server is ready. Hardly no code modification required
            on both client and server side.
        </p>

        <h2 class="section-header" id="who-use">Who should use Babooshka</h2>
        <p class="section-content">
            Development teams who want to be able to build both server and client at the same time, based on a predefined
            response object. Alternatively Babooshka may be used in cases where server cannot be built yet but client may
            should still be developed and web infrastructure should be created.<br/>In both cases Babooshka should only be
            used under enclosed development environment since it only accept http requests (it is a <b>forward proxy</b> - meaning
            that the connection between your client and babooshka is insecure but babooshka will secure connection between it
            and the target server).
        </p>

        <h2 class="section-header" id="getting-started">Getting started</h2>
        <p class="section-content">
            To start working with Babooshka first enter the settings section in the admin panel.
            <br><br>
            Enter your remote api server address in the 'Target server' field, this will tell Babooshka
            where to forward unmapped requests to - for example <span class="remote">www.myserver.com/api/</span>.
            <br><br>
            Select the default protocol your api is expecting to work with. Normally an api support only one protocol, if
            multiple protocols are supported those can be configured at the individual request level which is covered in
            another section of this document.
            <br><br>
            Set your client to use Babooshka as the base url for your api requests - for example <span class="local">localhost:3000/</span>,
            using our previously mentioned target server this means any requests sent to <span class="local">localhost:3000/</span>some/end/point will get
            forwarded to <span class="remote">www.myserver.com/api/</span>some/end/point.
            <br><br>
            Also, set your client to only communicate with the server using http protocol. Babooshka will use https when talking to
            the target server based on what you configure in its admin panel.
            <br><br>
            Lastly enter the home section in the admin panel and add your url mappings as required.
            <br>
            That's it, your are now using Babooshka.
        </p>

        <img ng-src="{{page.getUrl('images/diagram.png')}}">

        <h2 class="section-header" id="add-mapping">Add mapping</h2>
        <p class="section-content">
            A path mapping let Babooshka return a stub response to your client when attempting to contact a specific url.
            <br>
            It is the main feature of Babooshka, if no suitable mapping is matched with your request's url Babooshka simply
            forward the request to your remote server (target server) and return the results back to your client.
            <br><br>
            A mapping can be added from the home section of the admin panel by clicking on the 'Add mapping' button, adding
            the relative path that is matched (not including any query params), selecting the request method to be matched and
            providing a response body and setting the response code returned to the client when the mapping is matched.
            You may optionally also set an alias to the mapping to make it easier to find in the Babooshka panel.
            <br>
            In some cases it might make sense to force a response delay on a particular stub, such is when the real server is
            slow or just to easily test long operation handling on the frontend component of your project, Babooshka can
            force a response delay on your stubs by entering the amount of delay (in milliseconds) in the delay input box
            when creating/editing a stub.
        </p>

        <h2 class="section-header" id="activation">Mapping de/activation</h2>
        <p class="section-content">
            Any newly created mapping is automatically activated and is ready to be used.<br>
            If you wish to deactivate a mapping without deleting it (for example if you want to test newly created api
            endpoint), simply click on the switch button on the right side corner of an existing mapping in the home section
            of the admin panel, active mappings are set to ON while deactivated mappings are set to OFF.
        </p>

        <h2 class="section-header" id="wild-cards">Wild card mapping</h2>
        <p class="section-content">
            While normal mapping let you fetch a stub for fixed urls, sometimes a url may contain dynamic parts such
            as step parts or some kind of operation id which will be different for each user. you can catch those requests
            as well with Babooshka by setting a wildcard mapping for that path.<br>
            To set a wild card mapping simply use the wild card indicator &lt;?&gt; instead of the dynamic part.<br>
            <br>
            For example: <br>
            /do/cool/stuff/<span class="remote">11</span>/step<br>
            <br>
            can be mapped like so:<br>
            /do/cool/stuff/<span class="local">&lt;?&gt;</span>/step
        </p>

        <h2 class="section-header" id="no-json">Using Babooshka with non-json content types</h2>
        <p class="section-content">
            Babooshka configured by default to validate any stub response body you provide as JSON formatted string.<br>
            You can still submit other types such as XML or plain data but Babooshka will warn you when you try to submit
            changes. You can disable the content checking from the settings section in the admin panel by checking out
            'Validate stub response as JSON' box
        </p>

        <h2 class="section-header" id="channels">Using Babooshka channels</h2>
        <p class="section-content">
            As your team grow larger, it gets difficult for multiple users to work under a single stub copy.
            Different developers might need different variations of the same stub and changing the main stub for
            everyone might interfere with other's workflow.
            <br>
            <br>
            To overcome this issue Babooshka offer the option of manging multiple channel. Each channel manage it's
            own group of mappings in a non-conflicting way. By default Babooshka ships with a single default channel that
            is used if no specific channel is requested.<br>
            You can create a additional channels from from the channels management section by clicking on 'Channels'
            in the top menu, clicking on 'Add channel' and entering a channel name followed by clicking on 'Save'.
            <br>
            <br>
            Once a channel is created you can declare mappings for it just the way you would for the default channel:<br>
            In the 'Home' section simply select the desired channel from the channels list, the mapping display will change
            to display only mappings associated with the selected channel. While in this display any mapping created will
            be associated with the selected mapping.
            <br>
            <br>
            <b>Accessing a channel:</b><br>
            <br>
            To access a channel simply add to the beginning of your url path the channel name prefixed with 'baboocha-'<br>
            For example if your server has the following endpoint:<br>
            http://myserver.com<span class="remote">/users/profile</span><br>
            <br>
            Assuming your channel is named 'Dave' you can access this endpoint under this channel like so:<br>
            localhost:3000/<span class="local">baboocha-dave</span><span class="remote">/users/profile</span><br>
            <br>
            <b>IMPORTANT!:</b> By default Babooshka's channels are non-fall-through, meaning that if your requested channel
            does not contain a certain mapping, the request is forwarded to the remote server. You can change this behavior
            to make Babooshka check for mappings in the default channel if your desired channel does not have a mapping before
            giving up and forwarding the request to the remote server.<br>
            <br>
            <b>Troubleshooting</b><br>
        <ul class="section-content inner-list">
            <li>Ensure that your channel name is correct, if your channel name does not match any channel the entire path is treated as a normal url.</li>
            <li>Note that channels are not case sensitive.</li>
        </ul>
        </p>

        <h2 class="section-header" id="multiple-protocols">Using multiple protocols and hosts</h2>
        <p class="section-content">
            Babooshka try to avoid forcing any kind of client/server code changes, letting you work freely and disconnect
            Babooshka when you want to with ease.
            <br>
            If however you need to be able to provide different protocol or host to be used with certain requests
            you can add the desired details in the request's 'babooshka_&lt;override&gt;' header (set by your client when sending
            the request to Babooshka).<br>
            If these headers are provided Babooshka will use the provided details to contact the target server instead of
            the default ones set at the admin panel.<br>
            <br>
            Current version support the following override headers:
        </p>

        <table class="help-spec-table">
            <tr>
                <th>header name</th>
                <th>accepted value</th>
                <th>example value</th>
            </tr>
            <tr>
                <td>babooshka_protocol</td>
                <td>protocol name</td>
                <td>http, https</td>
            </tr>
            <tr>
                <td>babooshka_url</td>
                <td>protocol-less base url</td>
                <td>www.google.com, babooshka.com/funfacts</td>
            </tr>
        </table>

        <h2 class="section-header" id="self-signed-cert">Using a self signed certificate</h2>
        <p class="section-content">
            If set to forward incoming transmission in HTTPS protocol, Babooshka will attempt to verify the target server's
            SSL/TLS certificate against well trusted certificate authorities  for you to reduce the risk of man-in-the-middle
            attacks (MITM). While this option is set on by default you may allow Babooshka to trust any certificate the target
            server will provide by entering the settings section and check 'allow self signed SSL/TLS certificates'. Usually
            this is the case when your development environment simulate real https protocol or if your organisation uses its
            own certificates.<br>
            Note that this will expose your client to MITM attacks and that this option should only be used if your working
            environment is isolated from the outside world.
        </p>

        <h2 class="section-header" id="live-indexing">Live indexing</h2>
        <p class="section-content">
            In some cases you may want to quickly create mappings to a lot of already existing endpoints, alternatively you may
            wish to create a mapping to a specific endpoint which payload is hard to construct manually.<br>
            Babooshka offers a helper feature for just such events called 'Live indexing'. While active, Babooshka will always
            forward any incoming requests to the remote server and construct new (or replace existing) mappings based oh the requests
            and responses.<br>
            <br>
            There are a few things to know about Live indexing:<br>

        <ul class="section-content inner-list">
            <li>Live indexing only applicable for custom channels</li>
            <li>Multiple channels may be indexed at the same time independently</li>
            <li>Created endpoints are automatically enabled after creation</li>
            <li>Only endpoints which return successfully are indexed (status codes 200-399)</li>
            <li>Only endpoints which response Content-Type is one of the following will be indexed:</li>
            <ul>
                <li>application/json</li>
                <li>application/xml</li>
                <li>text/plain</li>
                <li>text/xml</li>
            </ul>
        </ul>
        </p>
        <p class="section-content">
            <b >Using Live Indexing</b>
        <ol class="section-content inner-list">
            <li>Optionally create your custom channel (See <a href="#channels">Using Babooshka channels</a>)</li>
            <li>Set your client to address your channel when calling Babooshka</li>
            <li>Switch to your channel's mapping display from the mappings page</li>
            <li>Click on the 'Live indexing' button - a confirmation window will pop up, click ok to proceed.</li>
            <li>Babooshka will then start listening and index any calls you make to that channel until you click the 'Stop indexing' button. A * will appear next to the channel's name, indicating indexing is running on that channel.</li>
        </ol>
        </p>

        <h2 class="section-header" id="cant-do">What Babooshka doesn't do</h2>
        <ul class="section-content">
            <li>Support web pages navigation</li>
            <li>Support streaming content</li>
            <li>Secure transmission (SSL/TLS) to itself (will secure outgoing transmission)</li>
        </ul>
    </div>
</div>