<h1 class="page-header">Settings</h1>
<div class="page" ng-controller="SettingsController as page">

    <link rel="stylesheet" type="text/css" ng-href="{{page.getUrl('css/settings.css')}}">

    <p id="setting-message" ng-repeat="message in messages" ng-class="message.type">{{message.message}}</p>

    <div class="setting-item">
        <div id="form">

            <p id="stub-message" ng-repeat="message in stub.messages" ng-class="message.type">{{message.message}}</p>

            <label for="path">Target server</label>
            <input id="path" class="editText" type="text" ng-model="temp.forwardUrl" ng-value="{{ stringify(forwardUrl) }}">

            <label for="protocol">Default outgoing protocol</label>
            <select id="protocol"
                    class="editText smallField"
                    ng-model="temp.forwardProtocol"
                    ng-init="temp.forwardProtocol=(forwardProtocol || 'HTTP')">
                <option value="HTTP">HTTP</option>
                <option value="HTTPS">HTTPS</option>
            </select>

            <label>Misc</label>
            <input type="checkbox" name="validate"
                   ng-model="temp.validateJSONResponse"
                   ng-init="(validateJSONResponse || true)"> Validate stub response as JSON<br>

            <input type="checkbox" name="allowFallThrough"
                   ng-model="temp.allowChannelFallThrough"
                   ng-init="(allowChannelFallThrough || false)"> Allow channel fall-through<br>

            <div class="checkbox-info">When enabled, if a channel specific mapping not found, attempt to use mappings from the default channel</div>

            <input type="checkbox" name="allowSSCRT"
                   ng-model="temp.allowSelfSignedCert"
                   ng-init="(allowSelfSignedCert || false)"> Allow self signed SSL/TLS certificates<br>

            <div class="checkbox-warn">Self signed certificates are certificates not issued by a trusted certificate authority,
                this is usually the case for development stations attempting to simulate HTTPS protocol
                without purchasing additional certificates. Enabling this option expose your client to
                Man-In-The-Middle attacks and should only be enabled when your environment is isolated from the network</div>

            <div id="buttons">
                <a id="delete-button" class="form-button" href="#" ng-click="page.restoreSettings()">cancel</a>
                <a id="save-button" class="form-button" href="#" ng-click="page.updateSettings()">save</a>
            </div>
        </div>
    </div>
</div>